/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center-section {
    flex: 2;
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    overflow-y: auto;
    margin: 0 auto;
    max-width: 900px;
}

.center-section h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #222;
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}


/*-------------------------search users result--------------------------------*/
.search-results-container {
    margin-top: 5px; /* Añadir un margen pequeño debajo de la Navbar */
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-height: 500px; /* Reducir la altura para hacerlo más pequeño */
    width: 450px; /* Ajusta el ancho para que sea más pequeño */
    position: absolute; /* Posicionar el contenedor de resultados */
    top: 60px; /* Ubicar justo debajo de la Navbar (ajusta según la altura de la navbar) */
    right: 20px; /* Coloca el contenedor a la derecha */
    z-index: 100; /* Asegúrate de que esté sobre otros elementos */
    overflow-y: auto; /* Permite el scroll si hay demasiados resultados */
    border-radius: 5px; /* Opcional: agrega bordes redondeados para un diseño más limpio */
}

.search-result-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    width: 100%;
    height: 80px;
}

.search-result-item:hover {
    background-color: #f0f0f0; /* Resaltar los elementos al pasar el mouse */
}

.profile-picture-search {
    width: 75px; /* Hacer la imagen más pequeña */
    height: 75px;
    border-radius: 50%;
    margin-right: 10px;

}

.search-result-item h2 {
    flex-grow: 1;
    font-size: 14px; /* Hacer el texto más pequeño */
    font-weight: 600;
    margin: 0 0 0 30px;

}

