/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Sección izquierda de la barra superior */
.top-left, .top-center, .top-right {
    display: flex;
    align-items: center;
}

/* Contenedor principal (debajo de la barra superior) */
.main-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-grow: 1;
    gap: 20px;
}

/* Sección de la izquierda */
.left-section {
    flex: 1;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.left-section h1 {
    font-size: 20px;
    color: #333;
}

/* Sección del centro (donde están los posts) */
.center-section {
    flex: 2;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.center-section h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

/* Sección derecha */
.right-section {
    flex: 1;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.right-section h1 {
    font-size: 20px;
    color: #333;
}

/*-------------------------search users result--------------------------------*/
.search-results-container {
    margin: auto auto;
    width: 500px;
    max-height: 300px; /* Ajusta la altura según sea necesario */
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.search-result-item {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.search-result-item:hover {
    background-color: #f0f0f0;
}

.search-result-item img {
    margin-right: 10px;
    border-radius: 50%;
}

.search-result-item h2 {
    font-size: 16px;
    margin: auto 50px;
}