.leaderboard-body {
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 2em;
}
.leaderboard-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    vertical-align: middle;
}

.h1-leaderboard {
    margin-bottom: 2rem;
    font-size: 2.5em;
    color: #000;
}

.leaderboard {
    max-width: 700px;
    margin: auto;
}

.podium {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 3rem;
    gap: 2rem;
}

.runner {
    background: #2e3047;
    padding: 1em;
    border-radius: 10px;
    width: 120px;
    position: relative;
}

.runner .trophy {
    font-size: 2rem;
    margin-bottom: 0.5em;
}

.first {
    background-color: #e0b300;
    color: #fff;
    transform: scale(1.2);
}

.second {
    background-color: #c0c0c0;
}

.third {
    background-color: #cd7f32;
}

.name {
    font-weight: bold;
}

.score {
    font-size: 1.2em;
}

.leaderboard-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2em;
    background-color: #2e3047;
    border-radius: 10px;
    overflow: hidden;
}

.leaderboard-thead {
    background-color: #393b57;
}

.leaderboard-th, .leaderboard-td {
    padding: 1em;
}

.leaderboard-tbody tr:nth-child(odd) {
    background-color: #353753;
}

.leaderboard-tbody tr:nth-child(even) {
    background-color: #2e3047;
}
.empty-leaderboard {
    color:  #000;
}
.highlighted-user {
    background-color: #ffeaa7;
    font-weight: bold;
    border-left: 5px solid gold;
}