.profile-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: #f7f7f7;
    min-height: 100vh;
}

.profile-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
    color: #333;
}

.section-title {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #444;
    padding-bottom: 5px;
}

.btn-primary {
    display: inline-block;
    margin-bottom: 20px;
}

.recreational-posts,
.training-plan-posts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.profile-content {
    align-items: stretch;
    display: flex;
    gap: 20px; /* espacio entre izquierda y derecha */
  }
  
  .profile-left {
    flex: 1; /* ocupa más espacio */
  }
  
  .profile-right {
    flex: 1; /* ocupa menos espacio */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinear botones a la izquierda */
    gap: 10px;
  }
.user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
    padding: 20px;
    margin: 20px auto;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 600px;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.user-details {
    border: solid 1px #ccc;
    margin: 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.user-details h2 {
    margin-left: 20px;
    font-size: 1.8rem;
    color: #333;
    flex-grow: 2;
}



