
.menu{
    background-color: brown;
    color: white;
    display: flex;
    gap: 100px;
}

.menu a{
    text-decoration: none;
    color: white;
    padding: 15px 10px;
}

.menu a :hover {
    background-color: #000;
}
/*el hover es para darle un color un poco mas claro al elemento de la navbar que selecciono*/
